﻿@page "/employee/info"
@using SCC_System.Controllers.Employee
@using Radzen
@using SaleModal.DB.Model
@inherits AddEmployeeBase

<PageTitle>Add Employee</PageTitle>

<RadzenTemplateForm TItem="TblEmployee" Data="Employee" >
    <RadzenFieldset AllowCollapse="false" Text="បន្ថែមបុគ្គលិកថ្មី" class="mb-3 titleBtn">
        <div class="row mt-0 ">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="គោត្តនាម"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="គោត្តនាម..." Name="FnameKh" @bind-Value="Employee.FnameKh" />
                        <RadzenRequiredValidator Component="FnameKh" Text="សូមបំពេញគោត្តនាម !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="នាម"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="នាម..." Name="LnameKh" @bind-Value="Employee.LnameKh" />
                        <RadzenRequiredValidator Component="LnameKh" Text="សូមបំពេញនាម !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="គោត្តនាមឡាតាំង"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="គោត្តនាមឡាតាំង..." Name="FullNameEn" @bind-Value="Employee.FullNameEn" />
                        <RadzenRequiredValidator Component="FullNameEn" Text="សូមបំពេញគោត្តនាមឡាតាំង !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

          <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="ថ្ងៃខែឆ្នាំកំណើត"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenDatePicker @bind-Value="Employee.Dob" DateFormat="dd-MM-yyyy" Name="Dob" Style="width:100%" />
                        <RadzenRequiredValidator Component="Dob" Text="សូមជ្រើសរើសថ្ងៃខែឆ្នាំកំណើត !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

         <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="ភេទ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                         <RadzenTextBox Style="width:100%" Placeholder="ភេទ..." Name="Gender" @bind-Value="Employee.Gender" />
                        <RadzenRequiredValidator Component="Gender" Text="សូមបំពេញភេទ !!!" Popup="false"></RadzenRequiredValidator>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="តួនាទី"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="តួនាទី..." Name="Position" @bind-Value="Employee.Position" />
                        <RadzenRequiredValidator Component="Position" Text="សូមបំពេញតួនាទី !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

          <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="ថ្ងៃខែឆ្នាំចូលបម្រើការងារ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenDatePicker @bind-Value="Employee.Hiredate" DateFormat="dd-MM-yyyy" Name="Hiredate" Style="width:100%" />
                        <RadzenRequiredValidator Component="Hiredate" Text="សូមជ្រើសរើសថ្ងៃខែឆ្នាំចូលបម្រើការងារ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

          <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="លេខទូរស័ព្ទ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="លេខទូរស័ព្ទ..." Name="Contact" @bind-Value="Employee.Contact" />
                        <RadzenRequiredValidator Component="Contact" Text="សូមបំពេញលេខទូរស័ព្ទ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

      
    </RadzenFieldset>

    <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="Save" Icon="save" ButtonStyle="ButtonStyle.Primary" Click="CreateEmployee" ButtonType="ButtonType.Submit"  />
                <RadzenButton Text="Exit" Click="onBtnExitAddEmp" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger"/>
            </div>
        </div>
    </div>

</RadzenTemplateForm>

