﻿@page "/employee"
@using Radzen
@using SCC_System.Controllers.Employee
@using SaleModal.DB.Model
@using Syncfusion.Blazor.RichTextEditor.Internal

@inherits EmployeeListBase

<PageTitle>List Employee</PageTitle>
  <RadzenCard>
      <div class="row mt-2 p-2">
        <div class="col-6">
            <span class="titleHome" >តារាងព័ត៌មានបុគ្គលិក</span>
            <RadzenLabel Name="text" TValue="bool" Style="" class="ml-2" />
        </div>
        <div class="col-6 d-flex flex-row titleBtn justify-content-end mt-1">
            <RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnAddNew" class="mt-1"/>
            <RadzenButton Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh"  class="mt-1"/>
        </div>
    </div>


           <table class="table titleBtn">
                <thead >
                    <tr>
                        <th>កូដ</th>
                        <th>គោត្តនាម</th>
                        <th>នាម</th>
                        <th>គោត្តនាមឡាតាំង</th>
                        <th>ថ្ងៃខែឆ្នាំកំណើត</th>
                         <th>ភេទ</th> 
                        <th >តួនាទី</th>
                        <th>ថ្ងៃខែចូលបម្រើការងារ</th>
                        <th>ប្រាក់ខែ</th>
                        <th>លេខទូរស័ព្ទ</th>
                        <th>អសយដ្ឋាន</th>
                        <th style=" width:150px ">Action </th>
                    </tr>
                </thead>

                <tbody>
                    @if (EmployeeList != null)
                     {
                               foreach (var item in EmployeeList)
                                {
                                        <tr>
                                            <td>@item.EmpId</td>
                                            <td>@item.FnameKh</td>
                                            <td>@item.LnameKh</td>
                                            <td>@item.FullNameEn</td>
                                            <td>@item.Dob.Value.ToShortDateString()</td>
                                            <td>@item.Gender</td>
                                            <td>@item.Position</td>
                                            <td>@item.Hiredate.Value.ToShortDateString()</td>
                                             <td>@item.Salary</td>
                                            <td>@item.Contact</td>
                                            <td>@item.Address</td>
                                            <td>
                                                <a href="/EditEmployee/@item.EmpId" class="btn btn-warning btn-sm mr-2"><i class="fas fa-edit" /></a>
                                                @*<button class="btn btn-primary btn-sm" @onclick="()=>EditEmployee(item.EmpId)">Edit</button>*@
                                                <button class="btn btn-danger btn-sm" @onclick="()=>DeleteEmployee(item.EmpId)"><i class="fa fa-trash" /></button>
@*                                           <RadzenButton Text="Delete" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" @onclick="()=>DeleteEmployee(item.EmpId)" />
*@                                            </td>
                                    </tr>
                              }
                      }          
              </tbody>
</table>  

 </RadzenCard>