﻿@page "/"

@*<div class="row">
    <div class="col-6 m-0" style="align-content">
            <RadzenImage Path="image/cafe.jpg" />
        </div>
</div>
<div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <RadzenImage Path="image/ccare.png" />
        </div>
        <div class="col-3"></div>
</div>*@

@*card view in index page*@
<div class="row">
        <div class="col-5">
            <RadzenCard class="mt-6">
            <RadzenImage Path="image/cafe.jpg" />
            <h4 style="text-align:center; font-family: 'Content-Regular' ">cafe on sale</h4>
            </RadzenCard>
        </div>
    @*    <div class="col-2​"> 
            <h6>Vs</h6> 
        </div>*@
        <div class="col-5" >
            @*<RadzenFieldset AllowCollapse="true" ​Text="ព័ត៌មាន">
                <span>testing</span>
            </RadzenFieldset>*@
            <RadzenCard class="mt-5">
             <RadzenImage Path="image/ccare.png" />
            <h4 style="text-align:center; font-family: 'Content-Regular' ">car care</h4>
            </RadzenCard>
        </div>
</div>

@code{
    public void OnClick(string name){}
}
