﻿@inherits LayoutComponentBase

@*Notification message*@
<RadzenNotification />
@*============================================================*@
        <RadzenHeader>
            <ChildContent>
                <div class="row justify-content-start align-items-center">
                    <div class="col-5 d-flex align-items-center ">
                        <RadzenSidebarToggle Click="@SidebarToggle0Click" Style="height:50px;"></RadzenSidebarToggle>
                        <span class="titleSideBar">មជ្ឈមណ្ឌលថែទាំរថយន្តស្តារឃែ (SCC)</span>
                    </div>
                    <div class="col-7 d-flex align-items-center justify-content-end">
                        <div class="d-flex align-items-center mr-4">
                            <span class="titleSideBar">ប្រព័ន្ធគ្រប់គ្រងហាងកាហ្វេ និងលាងឡាន</span>
                        </div>
                        <div style="display:flex;justify-content:center;">
                            <RadzenIcon Icon="person" Style="margin-top: 7px; color: #e0dada"></RadzenIcon>
                            <RadzenProfileMenu Style="font-family: 'Content-Regular'; color: #e0dada ">
                                <Template>
                                    <RadzenLabel Text="ADMIN"> </RadzenLabel>
                                </Template>
                            </RadzenProfileMenu>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenHeader>
        <div style="width:100%">
            <RadzenBody @ref="body0">
                <ChildContent>
                    <RadzenContentContainer Name="main">
                        @Body
                        @*<Footer></Footer>*@
                    </RadzenContentContainer>
                </ChildContent>
            </RadzenBody>
        </div>
        <RadzenSidebar @ref="sidebar0">
            <ChildContent>
                    <NavMenu></NavMenu>
            </ChildContent>
        </RadzenSidebar>

    @code{
        protected RadzenBody body0;

        protected RadzenSidebar sidebar0;
           protected void SidebarToggle0Click(dynamic args)
            {
                sidebar0.Toggle();

                body0.Toggle();
            }
    }



