﻿
<RadzenPanelMenu Style="width: 100%; font-family: 'Content-Regular'; font-size: 10pt ">
    <RadzenPanelMenuItem Text="ផ្នាំងលក់ទំនិញ" Path="sale" Icon="shopping_cart"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="របាយការណ៍" Path="report" Icon="summarize">
       @* <RadzenPanelMenuItem Text="របាយការណ៍ប្រចាំថ្ងៃ" Path="reportforday"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="របាយការណ៍ប្រចាំអាទិត្យ" Path="reportforweek"></RadzenPanelMenuItem>*@
        <RadzenPanelMenuItem Text="របាយការណ៍ប្រចាំខែ" Path="reportformonth"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="ស្តុក" Icon="inventory">
        <RadzenPanelMenuItem Text="ផលិតផល" Path="productlist"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>
          <RadzenPanelMenuItem Text="បុគ្គលិក" Icon="group">
                <RadzenPanelMenuItem Text="ព័ត៌មានបុគ្គលិក"  Path="employee"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="គណនីប្រើប្រាស់"  Path="account" ></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="កំណត់សិទ្ធិប្រើប្រាស់"  Path="userRole" ></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Setting" Icon="settings"  Path="setting"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Login" Icon="account_circle" Path="login"></RadzenPanelMenuItem>
</RadzenPanelMenu>