﻿@page "/EditProduct/{productId}"
@using SCC_System.Controllers.Product
@using Radzen
@using SCC_System.Pages.Product
@using SaleModal.DB.Model
@inherits EditProductBase

<PageTitle>Edit Products</PageTitle>
@if (Product != null)
{
    <RadzenCard Style="width:50%">
        <RadzenFieldset AllowCollapse="false" Text="កែប្រែ" class="mb-4 titleBtn">
        <div class="row mt-0 ">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="ឈ្មោះទំនិញ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះទំនិញ..." Name="ProductNameKh" @bind-Value="Product.ProductNameKh" />
                        <RadzenRequiredValidator Component="ProductNameKh" Text="សូមបំពេញឈ្មោះទំនិញ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

         <div class="row mt-3 ">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="ឈ្មោះទំនិញឡាតាំង"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះទំនិញ..." Name="ProductNameEn" @bind-Value="Product.ProductNameEn" />
                        <RadzenRequiredValidator Component="ProductNameEn" Text="សូមបំពេញឈ្មោះទំនិញឡាតាំង !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

         <div class="row mt-3 ">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="ប្រភេទទំនិញ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenDropDown Data="@Categories" 
                            Style="width:100%" 
                            ValueProperty="CateId"  
                            TextProperty="CategoryNameEn" 
                            @bind-Value="Product.CateId"  />
                         <RadzenRequiredValidator Component="CategoryNameEn" Text="សូមបំពេញប្រភេទទំនិញ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="row mt-3 ">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="តម្លៃរាយ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenNumeric Style="width:100%" Placeholder="ឈ្មោះទំនិញរាយ..." Name="Price" @bind-Value="Product.Price" />
                        <RadzenRequiredValidator Component="Price" Text="សូមបំពេញឈ្មោះទំនិញរាយ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

         <div class="row mt-3 ">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="បរិមាណ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenNumeric Style="width:100%" Placeholder="បរិមាណ..." Name="Qty" @bind-Value="Product.Qty" />
                        <RadzenRequiredValidator Component="Qty" Text="សូមបំពេញបរិមាណ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

         <div class="row mt-3 ">
            <div class="col-6">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="រូបភាព"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <InputFile OnChange="UploadImg"/>
                           @* <img src="@Product.Url" />*@
                        @*<RadzenTextBox Style="width:100%" Placeholder="រូបភាព..." Name="Url" @bind-Value="Product.Url" />
                        <RadzenRequiredValidator Component="Url" Text="សូមបំពេញរូបភាព !!!" Popup="false"></RadzenRequiredValidator>*@
                    </div>
                </div>
            </div>
        </div>

   </RadzenFieldset>
    <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton  Text="Save" Icon="save" Click="SaveProduct" ButtonType="ButtonType.Submit"/>
                <RadzenButton Text="Exit" Click="onBtnExitProd" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger"/>
            </div>
        </div>
    </div>
   
    </RadzenCard>
    
}
else{
      <p>Loading...</p>
}



