﻿@page "/productlist"
@using Radzen
@using SCC_System.Controllers.Product
@using SaleModal.DB.Model
@using Syncfusion.Blazor.RichTextEditor.Internal

@inherits ProductListBase

<PageTitle>List Products</PageTitle>

  <RadzenCard>
      <div class="row mt-2 p-2">
            <span class="titleHome" >តារាងព័ត៌មានទំនិញ</span>
        <div class="col-6 d-flex flex-row titleBtn justify-content-start ">
             <RadzenTextBox Placeholder="ស្វែងរកទំនិញ........" Style="margin:2px; width:50%" class="mt-1" />
             <RadzenButton Text="ស្វែងរក" Icon="search" ButtonStyle="ButtonStyle.Secondary" class="mt-1"/>
                
        </div>
        
        <div class="col-6 d-flex flex-row titleBtn justify-content-end mb-1">
            <RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnAddNew" class="mt-1"/>
            <RadzenButton Text="Add New Category" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnNewCategory" class="mt-1"/>
            <RadzenButton Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh" class="mt-1" />
        </div>

    </div>

 <table class="table titleBtn">
                <thead >
                    <tr>
                        <th>កូដ</th>
                        <th>ឈ្មោះទំនិញ</th>
                        <th>ឈ្មោះទំនិញឡាតាំង</th>
                        <th>ប្រភេទ</th>
                        <th>តម្លៃរាយ</th>
                        <th>បរិមាណ</th>
                         <th>Action</th> 
                    </tr>
                </thead>

                <tbody>
                    @if (ProductList == null)
                    {
                       <span>Loading.....</span>
                    }else
                    {
                         foreach (var item in ProductList)
                            {
                                 <tr>
                                        <td>@item.ProId</td>
                                        <td>@item.ProductNameKh</td>
                                        <td>@item.ProductNameEn</td>
                                         <td>@item.CategoryNameEn</td>
                                        <td>@item.Price</td>
                                        <td>@item.Qty</td>

                                        <td style="width:10%">
                                            <a href="/EditProduct/@item.ProId" class="btn btn-warning btn-sm mr-2"><i class=" 	fas fa-edit" /></a>
                                             <button class="btn btn-danger btn-sm" @onclick="()=>DeleteProduct(item.ProId)"><i class="fa fa-trash" /></button>
                                        </td>
                                </tr>
                            }
                    }
                 
    </tbody>
</table>

     
 </RadzenCard>