﻿@page "/newcategory"
@using SaleModal.DB.Model
@using SCC_System.Controllers.Category
@using Radzen
@inherits AddCategoryBase

<PageTitle>Add Category</PageTitle>
<h3>AddCategory</h3>

<RadzenCard Style="width:50%">
    <RadzenTemplateForm TItem="TblCategory" Data="NewCategory" >
    <RadzenFieldset AllowCollapse="false" Text="បន្ថែមប្រភេទទំនិញ" class="mb-3 titleBtn">
          <div class="row mt-0 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="CategoryName English"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="CategoryName English..." Name="CategoryNameEn" @bind-Value="NewCategory.CategoryNameEn"/>
                        <RadzenRequiredValidator Component="CategoryNameEn" Text="CategoryName English !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="CategoryName Khmer"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="CategoryName Khmer..." Name="CategoryNameKh" @bind-Value="NewCategory.CategoryNameKh"/>
                        <RadzenRequiredValidator Component="CategoryNameKh" Text="CategoryName English !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

    </RadzenFieldset>
       <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="Save" Icon="save" Click="AddNewCategory" ButtonType="ButtonType.Submit" />
                <RadzenButton Text="Exit" Click="onBtnExitCategory" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger"/>
            </div>
        </div>
    </div>
</RadzenTemplateForm>
</RadzenCard>
