﻿@page "/EditCategory/{categoryId}"
@using SCC_System.Controllers.Category
@using SaleModal.DB.Model
@using Radzen
@inherits EditCategoryBase

<PageTitle>Edit Category</PageTitle>
<h3>Update Category</h3>
@if (UpCategory != null)
{
    <RadzenCard Style="width:50%">
        @*<RadzenFieldset AllowCollapse="false" Text="កែប្រែ" class="mb-4 titleBtn" />*@
         <RadzenFieldset AllowCollapse="false" Text="ប្រភេទទំនិញ" class="mb-3 titleBtn">
          <div class="row mt-0 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="CategoryName English"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="CategoryName English..." Name="CategoryNameEn" @bind-Value="UpCategory.CategoryNameEn"/>
                        <RadzenRequiredValidator Component="CategoryNameEn" Text="CategoryName English !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="CategoryName Khmer"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenTextBox Style="width:100%" Placeholder="CategoryName Khmer..." Name="CategoryNameKh" @bind-Value="UpCategory.CategoryNameKh"/>
                        <RadzenRequiredValidator Component="CategoryNameKh" Text="CategoryName English !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

    </RadzenFieldset>
       <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-5">
                <RadzenButton Text="Save" Icon="save" Click="SaveCategory" ButtonType="ButtonType.Submit" />
                <RadzenButton Text="Exit" Click="onBtnExitCategory" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger"/>
            </div>
        </div>
    </div>

    </RadzenCard>
}
else{
      <p>Loading...</p>
}
