﻿@page "/categorylist"
@using SCC_System.Controllers.Category
@using SCC_System.Pages.Category
@using Radzen
@using SaleModal.DB.Model

@inherits ListCategoryBase

<PageTitle>List Category</PageTitle>
<h3>List Category</h3>

<RadzenCard Style="width:50%">
     <div class="row mt-1 p-2">
            <span class="titleHome">ប្រភេទទំនិញ</span>
        <div class="col-6 d-flex flex-row titleBtn justify-content-start mt-1">
             <RadzenTextBox Placeholder="ស្វែងរកទំនិញ........" Style="margin:2px; width:50%"  class="mt-1"/>
             <RadzenButton Text="ស្វែងរក" Icon="search" ButtonStyle="ButtonStyle.Secondary" class="mt-1"/>
        </div>
        <div class="col-6 d-flex flex-row titleBtn justify-content-end  mt-1">
             <RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnNewCategory" class="mt-1"/>
            <RadzenButton Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh"  class="mt-1"/>
        </div>
    </div>

</RadzenCard>
 <RadzenCard Style="width:50%">
     <table class="table titleBtn">
     <thead>
        <tr>
            <th>ID</th>
            <th>Name EN</th>
            <th>Name Kh</th>
            <th>Action</th>
        </tr>
     </thead>
     <tbody>
         @if (CategoryList != null)
        {
            foreach (var item in CategoryList)
            {
                 <tr>
                    <td>@item.CateId</td>
                    <td>@item.CategoryNameEn</td>
                    <td>@item.CategoryNameKh</td>

                    <td>
                        <a href="/EditCategory/@item.CateId" class="btn btn-warning btn-sm mr-2"><i class=" 	fas fa-edit" /></a>
                         <button class="btn btn-danger btn-sm" @onclick="()=>DeleteCategory(item.CateId)"><i class="fa fa-trash" /></button>
                    </td>
                 </tr>
            }
        }else
        {
            <span>Loading</span>  
        }
        
    </tbody>

 </table>
 </RadzenCard>


