﻿@page "/sale"
@using Radzen
@using Radzen.Blazor
@using Pages.Product
@using SCC_System.Controllers.Sales
@inherits SaleBase

<style>
    .scroll {
        white-space: nowrap; /* [1] */
        overflow-x: auto; /* [2] */
        -webkit-overflow-scrolling: touch; /* [3] */
        -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
    }

        /* [5] */
        .scroll::-webkit-scrollbar {
            display: none;
        }

        
    .cardfooter {
    min-height: 50%;
     max-height: 50vh; 
    }
</style>

<div class="row" style="font-family: 'Content-Regular'; ">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-xs-12 ">

                <header class="scroll">
                    <nav>
                        <div class="nav nav-tabs nav-fill scrollmenu" id="nav-tab" role="tablist">
                            @foreach (var list in Categories)
                            {
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" @onclick=@((value)=>OnClickCate(@list.CateId))><i class="fa-solid fa-mug-hot"></i>@list.CategoryNameEn</a>
                            }
                        </div>
                    </nav>
                </header>


                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            @if (ListProduct.Count() > 0)
                            {
                                foreach (var item in ListProduct)
                                {                            
                                    <div class="col-sm-6 col-md-4 col-lg-3 mt-2">
                                        <div class="card" @onclick=@((val)=> ProductClick(item)) style="cursor:pointer">
                                            <img class="card-img-top" src="@item.Url">
                                            <div class="card-block textalign-content-center" style="height:50px">
                                                  <p class="text-center">
                                                    @item.ProductNameEn <br /> 
                                                    $@item.Price
                                                 </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="table-borderless" >
            <table class="table table-bordered cardfooter" >
                <thead>
                    <tr>
                        <th>ល.រ</th>
                        <th>ឈ្មោះទំនិញ</th>
                        <th style="width: 40px">តម្លៃ</th>
                        <th>ចំនួន</th>
                        <th style="width: 60px">សរុប</th>
                    </tr>
                </thead>
                <tbody>
      
                    @for (var i = 0; i < OrderDetails.Count() ; i++)
                    {
                        if (isStateChange == true)
                        {
                            GrandTotal = 0;
                            isStateChange = false;
                        }
                       Total =Convert.ToInt64( OrderDetails[i].Qty * OrderDetails[i].Price);
                        GrandTotal += Total ;
                        if (isStateChange == true)
                        {
                            if (i == OrderDetails.Count() - 1)
                            {
                                PayBack = CashRecieve - GrandTotal ;
                            }
                            else
                            {
                                if (i == OrderDetails.Count() - 1)
                                {
                                    PayBack = GrandTotal;
                                }
                            }
                        }
                        <tr>
                            <td>@(i +1 )</td>
                            <td>@OrderDetails[i].ProNameEn</td>
                            <td>@OrderDetails[i].Price</td>
                            <td>@OrderDetails[i].Qty</td>
                            <td>@Total</td>
                            
                        </tr>
                    }

                </tbody>
            </table>
        </div>
@*=================================================================
sale table right
=================================================================*@
        <div class="row">
            <div class="card-footer footer">
                <div class="row  ">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 ">
                        <div class="mb-1 text-bold" ><label for="">Grand Total:</label></div>
                        <div class="mb-1 text-bold" > <label for="">Discount (%)</label></div>
                        <div class="mb-1 text-bold" > <label for="">Cash Recieve:</label></div>
                        <div class="mb-1 text-bold" > <label for="">Cash Back:</label></div>
                    </div>
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="input-group input-group-sm mb-1">
                            <input type="text" class="form-control" readonly value="@GrandTotal">
                        </div>
                        <div class="input-group input-group-sm mb-1">
                            <input type="text" class="form-control" >
                        </div>
                        <div class="input-group input-group-sm mb-1">
                            <input type="text" class="form-control" value="@CashRecieve" @onchange="CashRecieveChange" />
                        </div>
                        <div class="input-group input-group-sm mb-1">
                            <input type="text" class="form-control" readonly value="@PayBack">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button onclick="@OnSaveOrder" class="btn btn-sm btn-info">ទូទាត់</button>
                    <button onclick="@OnCancelOrder" class="btn btn-sm btn-danger">បោះបង់</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>


