﻿@page "/adduser"
@using SCC_System.Controllers.User
@using SCC_System.Pages.Users
@using SaleModal.DB.Model
@using Radzen

@inherits AddUserBase

<PageTitle>Add User</PageTitle>
<h3>Add User Account</h3>

    <RadzenTemplateForm TItem="TblUser" Data="User"  Style="width: 50%">
    <RadzenFieldset AllowCollapse="false" Text="Create New User" class="mb-3 titleBtn">
         <div class="row mt-0 ">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <RadzenLabel Text="Username"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះប្រើប្រាស់..." Name="UserName" @bind-Value="User.Username"/>
                        <RadzenRequiredValidator Component="UserName" Text="សូមបំពេញឈ្មោះប្រើប្រាស់ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>

              <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <RadzenLabel Text="Role"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-8">
                        <RadzenDropDown Style="width:100%" 
                            Data="@Roleslists"
                            AllowFiltering="true"
                            ValueProperty="RoleId"
                            TextProperty="RoleName" @bind-Value="User.RoleId"/>
                            <RadzenRequiredValidator Text="សូមជ្រើសរើសសិទ្ធិប្រើប្រាស់ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <RadzenLabel Text="Password"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-8">
                        <RadzenPassword Style="width:100%" Placeholder="លេខសម្ងាត់..." Name="PassWord" @bind-Value="User.Password"/>
                        <RadzenRequiredValidator Component="PassWord" Text="សូមបំពេញលេខសម្ងាត់ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>

             <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <RadzenLabel Text="Email"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-8">
                        <RadzenTextBox Style="width:100%" Placeholder="អ៊ីម៉ែល..." Name="Email" @bind-Value="User.Email"/>
                        <RadzenRequiredValidator Component="Email" Text="សូមបំពេញអ៊ីម៉ែល !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <RadzenLabel Text="Date Create"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-8">
                        <RadzenDatePicker Style="width:100%" Placeholder="ថ្ងៃខែឆ្នាំបង្កើត..." Name="DateCreate" DateFormat="dd/MM/yyyy" @bind-Value="User.DateCreate"/>
                        <RadzenRequiredValidator Component="DateCreate" Text="សូមបំពេញថ្ងៃខែឆ្នាំបង្កើត !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <RadzenLabel Text="Employee"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-8">
                        <RadzenNumeric Style="width:100%" Placeholder="EmpId..." Name="EmpId"  @bind-Value="User.EmpId"/>
                        <RadzenRequiredValidator Component="EmpId" Text="សូមបំពេញempid !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>

        </div>

     </RadzenFieldset>
     <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="Save" Icon="save" ButtonStyle="ButtonStyle.Primary" Click="AddNewUser" ButtonType="ButtonType.Submit"  />
                <RadzenButton Text="Exit" Click="onBtnExitUser " Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger"/>
            </div>
        </div>
    </div>

</RadzenTemplateForm>
