﻿@page "/edituserRole/{roleperId}"
@using Radzen
@using SaleModal.DB.Model
@using SCC_System.Controllers.RolePermission
@inherits EditRolePermissionBase

<h3>EditUserRole</h3>
@if (rolepermission != null)
{
    <RadzenCard Style="width: 40%">
    <RadzenFieldset AllowCollapse="false" Text="Edit Role Permission" class="mb-3 titleBtn">
        <div class="row mt-0 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-5">
                        <RadzenLabel Text="User Role"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-7">
                        <RadzenDropDown Style="width:100%"
                                        Data="@roleList"
                                        AllowFiltering="true"
                                        ValueProperty="RoleId"
                                        TextProperty="RoleName" @bind-Value="rolepermission.RoleId" />
                        <RadzenRequiredValidator Text="សូមជ្រើសរើសអ្នកប្រើប្រាស់ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-0 ">
             <div class="col-12">
                    <div class="row">
                        <div class="col-5">
                            <RadzenLabel Text="Permission"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-7">
                            <RadzenDropDown Style="width:100%"
                                            Data="@permissionList"
                                            AllowFiltering="true"
                                            ValueProperty="PerId"
                                            TextProperty="Name" @bind-Value="rolepermission.PerId" />
                            <RadzenRequiredValidator Text="សូមជ្រើសរើសសិទ្ធិ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
        </div>


    </RadzenFieldset>
    <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="Save" Icon="save" ButtonStyle="ButtonStyle.Primary" Click="OnEditUserRole" ButtonType="ButtonType.Submit" />
                <RadzenButton Text="Exit" Click="onBtnExitUserRole " Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
            </div>
        </div>
    </div>

</RadzenCard>
}
else
{
      <p>Loading.......</p>
}
