﻿@page "/userRole"
@using Radzen
@using SCC_System.Controllers.RolePermission
@inherits ListRolePermissionBase

<PageTitle>List Role Permission</PageTitle>
<h3>List Role</h3>

<RadzenCard Style="width:40%">
    <div class="row mt-2 p-3">
            <span class="titleHome">User Role Permission</span>
        <div class="col-12 d-flex flex-row titleBtn justify-content-end   mt-1">
            <RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnNewRole" class="mt-1"/>
            <RadzenButton Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh" class="mt-1"/>
        </div>
    </div>

    <table class="table titleBtn">
     <thead>
        <tr>
            <th>ID</th>
            <th>RoleName</th>
            <th>Permission</th>
            <th>Action</th>
        </tr>
     </thead>
     <tbody>
         @if (rolepermissions != null)
        {
            foreach (var item in rolepermissions)
            {
                 <tr>
                   <td>@item.RolePerId</td>
                    <td>@item.RoleName</td>
                    <td>@item.Name</td>

                    <td>
                        <a href="/edituserRole/@item.RolePerId" class="btn btn-warning btn-sm mr-2"><i class="fas fa-edit" /></a>
                         <button class="btn btn-danger btn-sm" @onclick="(value)=>OnDeleteRole(item.RolePerId)"><i class="fa fa-trash" /></button>
                    </td>
                 </tr>
            }
        }else
        {
            <span>Loading</span>  
        }
        
    </tbody>

 </table>

 </RadzenCard>