﻿@page "/account"
@using SCC_System.Controllers.User
@using SCC_System.Pages.Users
@using SaleModal.DB.Model
@using Radzen
@inherits ListUserBase

<PageTitle>List Users</PageTitle>
<h3>ListUser</h3>

<RadzenCard Style="width:50%">
    <div class="row mt-2 p-3">
            <span class="titleHome">គណនីប្រើប្រាស់</span>
        <div class="col-12 d-flex flex-row titleBtn justify-content-end   mt-1">
            <RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnNewuser" class="mt-1"/>
            <RadzenButton Text="Refresh" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh" class="mt-1"/>
        </div>
    </div>

    <table class="table titleBtn">
     <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Email</th>
            <th>Employee</th>
            <th>Date Create</th>
            <th>Action</th>
        </tr>
     </thead>
     <tbody>
         @if (userLists != null)
        {
            foreach (var item in userLists)
            {
               
                 <tr>
                   <td>@item.UserId</td>
                    <td>@item.Username</td>
                    <td>@item.RoleName</td>
                    <td>@item.Email</td>
                    <td>@item.FullNameEn</td>
                    <td>@item.DateCreate</td>

                    <td>
                        <a href="/edituser/@item.UserId" class="btn btn-warning btn-sm mr-2"><i class="fas fa-edit" /></a>
                         <button class="btn btn-danger btn-sm" @onclick="()=>DeleteUser(item.UserId)"><i class="fa fa-trash" /></button>
                    </td>
                 </tr>
            }
        }else
        {
            <span>Loading</span>  
        }
        
    </tbody>

 </table>

 </RadzenCard>
 

