﻿@page "/login"
<form class="vh-20">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 login-style">

                        <h3 class="mb-5 text-center">គណនីប្រើប្រាស់</h3>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="user">ឈ្មោះ</label>
                            <input type="text" id="user" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">លេខសម្ងាត់</label>
                            <input type="password" id="password" class="form-control form-control-lg" />
                        </div>

                        <!-- Checkbox -->
                        <a href="#" class="align-items-right"><span>Foget Password</span></a>
                        <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Login</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>